@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
   background-color: #E5FBFC;
}
/* styling the navbar */
.nav-header{
    font-size: 30px;
}
.navbar-header a{
    text-decoration: none;
}
.navbar{
    background-color: #E5FBFC;
}
strong{
    color: black;
}
span{
    color: #03A6A6;
    font-size:  20px;
}
nav{
    text-align: right;
    align-items: right;
}
nav >ul{
    list-style: none;
    display: inline;
}
nav ul li{
    padding: 6px;
    font-size: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}
.reads{
    margin: 5%;
    color: #FFAC2B;
    position: relative;
    font-family: 'Oswald', sans-serif;
}
h5{
    position: relative;
    max-width: 170px;
    /* margin: 1% auto; */
    text-align: end;
    top: 0;
}
h5:before{
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #FFAC2B;
    left: 0;
    top: 55%;
    position: absolute;
}
.photos{
    display: flex;
}
#point{
    border: solid 2px #CAE5E7;
    border-width: 80px;
    border-radius: 60%;
    width: 650px;
    height: 650px;
    margin-left: 5%;
    margin-top: -7%;
    
}
.top{
    margin-top: -25%;
}
.book{
    padding-left: 2%;
}
h1{
    font-family: 'Roboto Slab', serif;
}
.btn{
    background-color: #00A3AC;
    border: none;
    color: white;
    padding: 6px;
}
.btn:hover{
    color: white;
}
.bttns{
    display: flex;
}
.image{
    border-radius: 60%;
    padding: 6px;
}
hr{
    box-shadow: 5px gray;
}

/* Styling the service section */
.section{
    display: flex;
    margin-top: 10%;
}
.param{
   margin-left: 20%;
    
}
.sect{
   margin-left: 0.5%;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}
.lash{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}
.pet{
    padding: 5px;
    display: flex;
    margin-top: 5%;
    margin-left: 6%;
}
.card{
    height: 250px;
    width: 310px;
    box-shadow: 5px 10px gainsboro;
}
.tok{
    color: #00A3AC;
    margin-top: 1pc;
    margin-left: 5%;
}
.radio{
    margin-top: 10%;
    margin-left: 5%;
}