@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
   background-color: #E5FBFC;
}
/* styling the navbar */
.nav-header{
    font-size: 30px;
}
.navbar-header a{
    text-decoration: none;
    float: left;
}
.navbar{
    background-color: #E5FBFC;
}
strong{
    color: black;
}
span{
    color: #03A6A6;
    font-size:  20px;
}
nav{
    text-align: right;
    align-items: right;
}
nav >ul{
    list-style: none;
    /* display: inline; */
}
nav ul li{
    padding: 6px;
    font-size: 20px;
    display: inline;
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}
.reads{
    margin: 5%;
    color: #FFAC2B;
    position: relative;
    font-family: 'Oswald', sans-serif;
}
h5{
    position: relative;
    max-width: 130px;
    /* margin: 1% auto; */
    text-align: end;
    top: 0;
}
h5:before{
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #FFAC2B;
    left: 0;
    top: 55%;
    position: absolute;
}
.photos{
    display: flex;
}
#point{
    border: solid 2px #CAE5E7;
    border-width: 80px;
    border-radius: 60%;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-top: -7%;
    
}
.top{
    margin-top: -25%;
}
.book{
    /* padding-left: 2%; */
    /* margin-left: auto; */
}
h1{
    font-family: 'Roboto Slab', serif;
}
.btn{
    background-color: #00A3AC;
    border: none;
    color: white;
    padding: 6px;
    margin-left: auto;
}
.btn:hover{
    color: white;
}
.bttns{
    display: flex;
}
.fa{
    border: solid 15px white;
    border-width: 5%;
    border-radius: 50%;
    
}
.fa-solid{
    padding: 15px;
}
.image{
    border-radius: 60%;
    padding: 6px;
}
hr{
    box-shadow: 5px 5px gray;
    background-color:aliceblue;
}

/* Styling the service section */
#service{
    background-color: aliceblue;
}
.section{
    display: flex;
    margin-top: 5%;
    background-color:aliceblue;
}
.param{
   margin-left: 20%;
    
}
.sect{
   margin-left: 0.5%;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}
.lash{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}
.row{
    padding: 5px;
    display: flex;
    margin-top: 5%;
    margin-left: 6%;
}
.card{
    height: 250px;
    width: 310px;
    box-shadow: 5px 10px rgba(220, 220, 220, 0.415);
    background-color: white;
    /* justify-content: center; */
}
.column{
    justify-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.tok{
    margin-top: 1pc;
    margin-left: 5%;
}
.radio{
    margin-top: 10%;
    margin-left: 5%;
}
.pet-two{
    padding: 5px;
    display: flex;
    margin-top: 5%;
    margin-left: 6%;
}

/* branches */
#branches{
    background:#cad8d9;
    margin-top: 5%;
    height: 500px;
    
}
.branch{
    display: flex;
    margin-left: 5%;
    padding: 2%;
}
.kick{
    padding-right: 5%;
}
.bttn{
    background-color: #00A3AC;
    border: none;
    color: white;
    padding: 20px;
    padding-top: 2%;
    text-align: center;
    border-radius: 5%;
}
.bara{
    font-size: 20px;
    padding-top: 5px;
}

/* comments */
.cast{
    margin-top: 5%;
    height: 600px;
    /* width: 100%; */
}
.lie{
    display: flex;
}
.party{
    margin-left: 5%;
}
.rose{
    display: flex;
    margin-top: 5%;
}
.body{
    height: 450px;
    width: 500px;
    margin-top: -5%;
}
.head{
    font-family: 'Roboto Slab', serif;
    font-weight:900;
    margin-top: 5%;
}
.pag{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}
.profile{
    display: flex;
}
h4{
    /* text-align:center; */
    font-size: 15px;
    margin-top: 10%;
    padding: 5px;

}
.icons{
    display: flex;
}
.nextbtn{
    display: flex;
    margin-left: 50%;
}
.lad{
    margin-top: 5%;
    color: #00A3AC;
}
.fa{
    color: orange;
}

/* Doctors section */
#doctors{
    margin-top: 12%;
    background-color: #dafbff;
    height: 650px;
}
.doc{
    display: flex;
    
}
.cord{
    display: flex;
    /* margin-left: 5%;
    margin-top: 8%; */
}
/* Contacts section */
#contact{
    margin-top: 9%;
}
.sub{
    background-color: #c1f7fa;
    height: 300px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    border-radius: 5px;
}
.lan{
    padding: 5%;
}
input{
    width: 500px;
    height: 80px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}
button {
    top: 0;
    border-radius: 5px;
    margin-left: -15%;
    z-index: 2;
    border: none;
    top: 2px;
   font-size: 25px;
    height: 60px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
}

/* FOOOTEERR */
footer{
    margin-top: 5%;
    margin-left: auto;
  margin-right: auto;
}
.social{
    display: flex;
}
.column5{
    margin-top: 6%;
}
h6{
    font-size: 30px;
}
.face{
    padding: 5px;
}
.pop{
    font-size: 20px;
}