@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body{
   background-color: #E5FBFC;
}
/* styling the navbar */
.nav-header{
    font-size: 30px;
}
.navbar-header a{
    text-decoration: none;
}
.navbar{
    background-color: #E5FBFC;
}
strong{
    color: black;
}
span{
    color: #03A6A6;
    font-size:  20px;
}
nav{
    text-align: right;
    align-items: right;
}
nav >ul{
    list-style: none;
    display: inline;
}
nav ul li{
    padding: 6px;
    font-size: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}
.reads{
    margin: 5%;
    color: #FFAC2B;
    position: relative;
    font-family: 'Oswald', sans-serif;
}
h5{
    position: relative;
    max-width: 170px;
    /* margin: 1% auto; */
    text-align: end;
    top: 0;
}
h5:before{
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #FFAC2B;
    left: 0;
    top: 55%;
    position: absolute;
}
.photos{
    display: flex;
}
#point{
    border: solid 2px #CAE5E7;
    border-width: 80px;
    border-radius: 60%;
    width: 650px;
    height: 650px;
    margin-left: 5%;
    margin-top: -7%;
    
}
.top{
    margin-top: -25%;
}
.book{
    padding-left: 2%;
}
h1{
    font-family: 'Fredoka One', cursive;
}
.btn{
    background-color: #00A3AC;
    border: none;
    color: white;
}
.bttns{
    display: flex;
}
.play{
    background: #E5FBFC;
    padding-left: 5px;
}
hr{
    box-shadow: 5px gray;
}
.section{
    display: flex;
}